.slider-container {
  position: relative;
}

.slider-item {
  position: absolute;
  left: 2px;
  text-align: center;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 2xl;
  color: rgb(129, 227, 227);
  opacity: 0; /* 초기에는 모든 요소를 투명하게 설정 */
  transition: opacity 1s ease; /* 투명도를 변경하는 애니메이션 설정 */
}

.slider-item.visible {
  opacity: 1; /* visible 클래스가 추가되면 투명도를 1로 설정하여 보이도록 함 */
}

.font{
  font-size: 30px;
}